<div class="main ">
    <div class="list-top">
        <img src="" alt="">
    </div>
    <div class="list-bot" >
        <ul>
            <li ng-repeat="item in data.subjects">
                <a href="#/details/{{item.id}}">
                    <img ng-src="{{item.images.large}}" alt="">
                </a>
                <div class="meta">
                    <h4><span>{{item.title}}</span> <em>{{item.rating.average}}分</em></h4>
                    <div class="otherinfo">类型:<span>{{item.genres.join('、')}}</span></div>
                </div>
            </li>

        </ul>
        <div class="paging" ng-hide="loading">
            <label>总共：{{total}}条记录 &nbsp;&nbsp;第{{page}}/{{totalPage}}页</label>
            <button ng-class="{'disable':page<=1}" class="prev  " ng-click="goPage(page-1)">上一页</button>
            <button ng-class="{'disable':page>=totalPage}" class="next" ng-click="goPage(page+1)">下一页</button>
        </div>
    </div>
</div>

<div ng-show="loading" class="loading-box">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
</div>